:root { 
--black_900_7e:#0000007e; 
--white_A700_7e:#ffffff7e; 
--gray_800:#3e3e3e; 
--blue_A200:#468cf7; 
--indigo_A100:#7199fe; 
--gray_800_01:#524b4b; 
--gray_200:#e9e9eb; 
--gray_900_f9:#222222f9; 
--black_900:#000000; 
--pink_A400:#de005d; 
--light_blue_A700:#0a84ff; 
--white_A700_19:#ffffff19; 
--white_A700:#ffffff; 
--gray_200_bf:#e9e9ebbf; 
--gray_800_5b:#3c3c435b; 
--black_900_59:#00000059; 
}